{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О проекте
      </div>
      <div class="card-body">
        <p>
          Добро пожаловать в нашу социальную сеть для любителей собак! Здесь вы сможете делиться радостью и любовью к своим верным друзьям, узнавать новое о породах и уходе за ними, а также общаться с единомышленниками.
        </p>
        <p>
          В нашей социальной сети вы найдёте:
          <li>Возможность делиться фотографиями и историями о своих питомцах.</li>
          <li>Информацию о различных породах собак, их особенностях и характере.</li>
          <li>Советы по уходу за домашними животными.</li>
          <li>Встречи и мероприятия для владельцев собак, где вы сможете познакомиться с другими участниками.</li>
        </p>
        <p>
          Присоединяйтесь к нам и станьте частью большой семьи любителей собак!
        </p>
      </div>
    </div>
  </div>
{% endblock %}