{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          <b>Cамовыражение.</b> У наших пользователей должна
          быть возможность создать что-то своё, выразить себя,
          свои мысли и чувства.
        </p>
        <p>
          <b>Многообразие.</b> Мы уважаем и приветствуем разные
          мнения и культуры. DoggyGram — это место, объединяющее
          самых разных людей и их питомцев.
        </p>
        <p>
          <b>Творчество.</b> Творите, общайтесь, знакомьтесь!
          Наши инструменты помогут вам раскрыть себя максимально
          просто и комфортно.
        </p>
        <p>
          <b>Личность.</b> Мы сохраним ваши сокровенные мысли в тайне.
          Делитесь своей информацией только с теми, кого выбрали.
          Как и насколько засекречивать информацию о ваших питомцах —
          определяете вы и только вы.
        </p>
      </div>
    </div>
  </div>
{% endblock %}